name: Github Actions
on:
    push:
        branches:
            - master
jobs:
    deploy:
        runs-on: ubuntu-latest
        permissions:
            contents: write
        steps:
        
        - name: Checkout Code
          uses: actions/checkout@v4

        - name: Displayfiles
          uses: ls
        
        - name: Deploy
          uses: peaceiris/actions-gh-pages@v4
          with:
            github_token: ${{ secrets.GITHUB_TOKEN }}
            publish_dir: ./

