name: Github Actions
on:
    push:
        branches:
            - fix
jobs:
    deploy:
        runs-on: ubuntu-latest
        permissions:
            contents: write
        steps:
        
        - name: Checkout Code
          uses: actions/checkout@v4

        - uses: sobolevn/misspell-fixer-action@master
        
        - uses: peter-evans/create-pull-request@v2.4.4
          with:
            token: ${{ secrets.GITHUB_TOKEN }}

